################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Books/bin/Debug
/Books/obj/Debug
/Book_database/bin/Debug
/Book_database/obj/Debug
/Book_database/Book_database.dbmdl
